# Supabase
SUPABASE_URL=https://jlfrtyyjxkmdetdbeakv.supabase.co
SUPABASE_KEY=

# Nomor admin WhatsApp (format: 628xxx)
ADMIN_NUMBER=

# Group ID untuk notifikasi order (dapatkan dengan !groupid)
GROUP_ID=
